<h1>Git Expert</h1>

Topic:
<md-chip-list #list1>
  <md-chip #chip *ngFor="let topic of topics" (select)="onTopicSelected(topic)" (click)="onChipClicked(list1, chip)">{{topic}}</md-chip>
</md-chip-list>

Action:
<md-chip-list #list2>
  <md-chip #chip *ngFor="let action of actions" (select)="onActionSelected(action)" (click)="onChipClicked(list2, chip)">{{action}}</md-chip>
</md-chip-list>

<button class="go" md-button color="primary" (click)="onGoClick()">Go!</button>

<md-divider></md-divider>

<md-list *ngIf="matchingTips">
  <h2 md-subheader>Results</h2>
  <md-list-item *ngFor="let match of matchingTips" [@flyInOut]="'in'">
    <h4 md-line>{{match.title}}</h4>
    <pre md-line><code>{{match.command}}</code></pre>
  </md-list-item>
</md-list> 